{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}

<style>
    html,
body {
  height: 100%;
}

body {
  
  align-items: center;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  align-items: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>
<form method="POST" class="form-signin">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
           type="email"
           class="form-control" 
           id="email" 
           name="email" 
           placeholder="Enter email"
           required>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input
           type="text"
           class="form-control" 
           id="firstName" 
           name="firstName" 
           placeholder="Enter first name"
           required>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input
           type="password"
           class="form-control" 
           id="password1" 
           name="password1" 
           placeholder="Enter password"
           required>
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
           type="password"
           class="form-control" 
           id="password2" 
           name="password2" 
           placeholder="Confirm password"
           />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}