{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}

<style>
    html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

.content-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.login-form {
        min-width: 40vw;
        min-height:80vh;
        background-color: #e6d2d2; /* Off-white color */
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
    .login-form h4 {
        margin-top: 0; /* Remove top margin */
        margin-bottom: 20px;
    }


.form-signin {
  max-width: 330px;
  padding: 15px;
  
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
    .form-signin input[type="password"],
    .form-signin input[type="text"] 
    {
        margin-bottom: 15px;
        width: 250px; /* Adjust the width as needed */
        border-radius: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }


    .form-signin button[type="submit"] {
        width: 250px;
        border-radius: 5px;
        margin-bottom: 2px;
    }
      
    .form-signin h6 {
        text-align: center;
    }

    .form-signin .additional-text {
        text-align: center;
        font-size: 12px;
        max-width: 150px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 45px;
        margin-bottom: 2px;
        white-space: nowrap;
    }
    .form-signin .additional-texts {
        text-align: center;
        font-size: 12px;
        max-width: 150px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        white-space: nowrap;
        margin-bottom: 50px;
    }


    .form-signin .additional-texts1 {
        text-align: center;
        font-size: 13px;
        max-width: 150px;
        margin-top: 0px;
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        white-space: nowrap;
    }

    .form-signin .additional-texts2 {
        text-align: center;
        font-size: 13px;
        max-width: 150px;
        margin-top: 0px;
        
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        white-space: nowrap;
    }


    
</style>
<div class="content-wrapper">
  <div class="login-form">
<form method="POST" class="form-signin">
    <h4 align="center">Sign Up</h4>
    <div class="form-group">
        <input
           type="email"
           class="form-control" 
           id="email" 
           name="email" 
           placeholder="Enter email"
           required>
    </div>
    <div class="form-group">
        <input
           type="text"
           class="form-control" 
           id="firstName" 
           name="firstName" 
           placeholder="Enter first name"
           required>
    </div>
    <div class="form-group">
        <input
           type="password"
           class="form-control" 
           id="password1" 
           name="password1" 
           placeholder="Enter password"
           required>
    </div>
    <div class="form-group">
        <input
           type="password"
           class="form-control" 
           id="password2" 
           name="password2" 
           placeholder="Confirm password"
           />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Continue</button>
    <p class="additional-text">By creating an account, you are agreeing to our</p>
    <p class="additional-texts"><a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
    <p class="additional-texts1">Already have an account?</p>
    <p class="additional-texts2"><a href="/login" id="login">Sign in</a></p>

</form>
</div>
</div>
{% endblock %}